:root {
    --Azul-1: #072ACB;
    --Azul-2: #43D2FF;
    --Azul-3: #A2D6F9;
    --Azul-4: #D1EDFF;
    --Gris-1: #292E47;
    --Gris-2: #6B708D;
    --Claro-1: #F2F4FC;
    --Claro-2: #ECF7FF;
    --Amarillo: #FFC600;
}

